@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #3689ff;
  border-radius: 100px;
}

body {
  scroll-behavior: smooth;
}
p {
  font-size: 18px;
}

/*Global Hover*/
.card:hover {
  background: #3689ff;
  color: white;
  transition: 0.3s;
}
.card:hover .card-icon {
  color: white;
  transition: 0.3s;
}

/*NavBar*/
@media (min-width: 992px) {
  #carouselExampleAutoplaying {
    margin-top: 60px;
  }
}
.nav-link {
  color: black;
}
.nav-link {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: black !important;
  position: relative;
}
.nav-link:after {
  content: "";
  position: absolute;
  background-color: #3689ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-link:hover:after {
  width: 100%;
}
/*Slider*/
@media (max-width: 575px) {
  #carouselExampleCaptions {
    margin-top: 50px;
  }
  .carousel-caption {
    margin-bottom: -30px;
  }
  .carousel-caption h1 {
    font-size: 15px;
    margin-top: 10px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
  .carousel-caption .btn {
    font-size: 10px;
  }
}
/*chat icon*/
#chat-icon {
  position: fixed;
  bottom: 20px;
  right: 15px;
}

/*speciality style*/
#speciality .card {
  border: none;
  border-radius: 8px;
  text-align: center;
}
@media (max-width: 575px) {
  #speciality .card {
    border-radius: 0;
  }
}
.card-icon {
  font-size: 60px;
  color: #3689ff;
}
.card-title {
  font-size: 25px;
  font-weight: 500;
}
/*Services*/
#service .service-img img {
  height: 100%;
}
.service-item {
  position: relative;
  overflow: hidden;
}

.service-item .services-overlay {
  position: absolute;
  bottom: -110px;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(0, 34, 73, 0.7);
  padding: 20px 40px 40px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .service-item .services-overlay {
    padding: 20px 20px 20px;
  }
}

@media (max-width: 1199px) {
  .service-item .services-overlay {
    bottom: -115px;
  }
}

@media (max-width: 575px) {
  .service-item .services-overlay {
    padding: 20px 20px 20px;
  }
}

.service-item .services-overlay .icon {
  position: absolute;
  top: -20px;
  left: 20px;
  height: 70px;
  width: 70px;
  background: #3689ff;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  line-height: 70px;
}

.service-item .services-overlay p {
  color: #fff;
  font-size: 14px;
  padding-top: 20px;
}

.service-item .services-overlay .title {
  padding-left: 80px;
  font-size: 20px;
}

@media (max-width: 1199px) {
  .service-item .services-overlay .title {
    font-size: 18px;
  }
}

.service-item .services-overlay .title a {
  color: #fff;
  text-decoration: none;
}

.service-item:hover .services-overlay {
  bottom: 0;
  background-color: rgba(54, 137, 255, 0.7);
}
/*Counter style*/
.counter {
  background: #3689ff;
  color: white;
  overflow: hidden;
}
.counter .text-icon {
  padding: 40px;
}
.counter i {
  font-size: 25px;
}
.counter span {
  font-size: 23px;
  font-weight: 600;
}
/*Features*/
#feature .card {
  border: none;
  border-radius: 8px;
  text-align: center;
}
.card-content {
  padding: 40px;
}
#feature .feature-card {
  margin-bottom: 30px;
}
/* Frequently Ask Question */
@media (max-width: 480px) {
  .auto-q {
    margin-bottom: 30px;
  }
}
input,
textarea {
  outline: none;
  transition: 0.3s;
  border: 0 none;
  border-radius: 4px;
  background: #f5f8fa none repeat scroll 0 0;
}
textarea {
  margin-bottom: 30px;
  min-height: 70px;
  padding: 20px;
  width: 100%;
  resize: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*Pricing*/
li {
  list-style: none;
}
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
.pricing .card:hover {
  background: inherit;
  color: inherit;
  transform: scale(1.02, 1.02);
  box-shadow: 0 1rem 3rem rgba(64, 123, 255, 0.7);
}
@media (max-width: 480px) {
  .pricing .card {
    border-radius: 0rem;
    margin-bottom: 30px;
  }
}
.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
.hot {
  background-color: #3689ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  top: -3%;
  position: absolute;
}
/*unique*/
.unique {
  display: flex;
  flex: 1;
  margin-bottom: 40px;
}

.unique .icon i {
  display: block;
  font-size: 36px;
  color: #3689ff;
}
.fix {
  overflow: hidden;
}
.unique .content h4 {
  display: block;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 2px;
  text-transform: capitalize;
}
.unique .content p {
  color: #666;
  margin: 0;
}
/*Our Awosome Testmonials*/
.testmonials-box1 {
  border-top: 3px solid #3689ff;
}
.author {
  margin-top: 30px;
  padding-left: 20px;
}
.author .desc {
  margin-left: 10px;
}
.testimonials-box1 .author .desc h6 {
  font-size: 16px;
  color: #232323;
  margin-bottom: 10px;
}
.testmonials-box2 {
  border-top: 3px solid #028860;
}
.testmonials-box3 {
  border-top: 3px solid #da0d40;
}
.submit {
  margin-bottom: 0;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  color: #444;
  border: 1px solid #dddddd;
}
input.submit:hover {
  transition: 0.3s;
  background: #3689ff;
  color: white;
}
/*About us*/
.about-head {
  margin-bottom: 40px;
  border-bottom: 2px solid #3689ff;
  padding-bottom: 5px;
}
/*Our team*/
.our-team .card {
  border: none;
  border-radius: 0;
  text-align: center;
}
.our-team img {
  height: 100px;
  border-radius: 100%;
}
/*Contact form*/
.contact-form input,
textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dddddd;
  border-radius: 10px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  height: inherit;
  margin-bottom: 18px;
  padding: 16px 20px 15px;
  transition: all 0.3s ease 0s;
  width: 100%;
}
input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none rgba(0, 0, 0, 0);
  box-shadow: none;
  color: #606060;
  font-size: 14px;
  height: 40px;
  padding-left: 10px;
  width: 100%;
}
.contact-form input.submit {
  margin-bottom: 0;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  color: #444;
}
.contact-form input.submit:hover {
  transition: 0.3s;
  background: #3689ff;
  color: white;
}
.contact-info .contact-icon {
  border: 1px solid #808185b6;
  border-radius: 10px;
  display: inline-table;
  height: 54px;
  margin-right: 18px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 54px;
}
.contact-info .contact-icon i {
  color: black;
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}
.contact-info .contact-icon i:hover {
  color: white;
}
.contact-info .contact-icon:hover {
  transition: 0.3s;
  background: #3689ff;
  color: white;
}

/*Quick Link*/
#quicklink li {
  list-style: none;
}
#quicklink a {
  text-decoration: none;
  color: black;
}
